.section-follow .fa-4x{
    margin: 5px 10px;
}
.slider {
    background-color: black;
    color: rgb(31, 29, 29);
  }
  
  .slider .slides .slide {
    background-color: black;
    color: rgb(22, 21, 21);
  }
  